@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --tigers-orange: #F58220;
  --tigers-orange-glow: rgba(245, 130, 32, 0.4);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
